<html>
	<br>
	<br>
	<center> <%= image_tag("male-shadow-fill-circle-512.png", height: '150', width: '150') %> </center>
	<center><h5><%= @user.email%></h5><br><br><h3>Points: <%= !@user.score.nil? ? @user.score : 0 %></h3> <h5>Level 3</h5><br><br><h6>how many points are needed until next level</h6></center>
	<br>
	<br>
        
        <body>
        	<div class="container " >

            <div  style="padding-left: 43%;">

              <div class="c100 p55 medium " >

                      <span><%= 350- (!@user.score.nil? ? @user.score : 0) %></span>
                      <div class="slice" >
                      
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
                 
                <br><br><br><br><br><br><br>
                
               
           </div>


    <h5>Tickets</h5>
    <% @user.tickets.each do | ticket |%>

         <div class="divider"></div>
         <br>

        <div class="row">
            <div class="col s12 m8 l8">
              <div class="card blue-grey darken-1 hoverable">
                <div class="card-content white-text">
                  <span class="card-title"><%=ticket.name %></span>
                  <p><%=ticket.description %></p>
                </div>
                <div class="card-action">
                  <%= link_to "view", ticket %>
                </div>
              </div>
            </div>
          </div>
    <% end%>

    <h5>Hunts</h5>
    <% @user.hunts.each do | hunt |%>

         <div class="divider"></div>
         <br>

        <div class="row">
            <div class="col s12 m8 l8">
              <div class="card teal lighten-2 darken-1 hoverable">
                <div class="card-content white-text">
                  <span class="card-title"><%=Ticket.find(hunt.ticket_id).name %></span>
                  <p><%=Ticket.find(hunt.ticket_id).description %></p>
                </div>
                <div class="card-action">
                  <%= link_to "view", Ticket.find(hunt.ticket_id)%>
                </div>
              </div>
            </div>
          </div>
    <% end%>

			</div>
              <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Bug Hunter</h5>
                <p class="grey-text text-lighten-4">Thank you for using our app!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/mitchcail/Bug_tracker">Github Link</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Bug Hunter 2016
            </div>
          </div>
        </footer>
        </body>
</html>
