<div class="container">
    <br>
    <br>
	<h1><%= @ticket.name %></h1>
    <br>

    <% if user_signed_in? %>
        <% if @creator == current_user %>
            <h6>added by you</h6>
            <br>
             <%= link_to "Edit Ticket", edit_ticket_path(@ticket), class: "waves-effect waves-light btn"%>
             <button class="waves-effect waves-light btn" id="close">Close issue and assign points</button>
        <% else %>
            <h6>added by <%= @creator.email %></h6>
        <% end %>
    <% else %>
        <h6>added by <%= @creator.email %></h6>
    <% end %>
    
    <br>
    <br>
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#test1">Description</a></li>
        <li class="tab col s3"><a href="#test2">github repo</a></li>
        <li class="tab col s3"><a href="#test3">comments</a></li>
        
      </ul>
    </div>
    <div id="test1" class="col s12" style="min-height: 300px">
        <div class="row">
          <div class="col s12 m10">
            <br>
            <br>
            <blockquote>
              <h4><%= @ticket.description %></h4>
            </blockquote>
            
         
          </div>
        </div>
    </div>
    <div id="test2" class="col s12" style="min-height: 300px">
        <br>
        <br>
        <h4>This is where the github repo will go for hunting the ticket</h4>
    </div>
    <div id="test3" class="col s12" style="min-height: 300px">
        <br>
        <br>


        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="comment" class="materialize-textarea"></textarea>
                        <label for="comment">Add New Comment</label>
                        <a class="waves-effect waves-light btn" id="add_comment">add comment</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="row" id="commments-section">
            <% @ticket.comments.each do | comment |%>
            <div class="col s12 m12 l12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">

                        <h5><%=comment.text%></h5>
                    </div>
                    <div class="card-action">
                       added by <%=link_to User.find(comment.user_id).email, show_profile_path(id: comment.user_id) %>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
    </div>

  </div>
	
    <br>
    <% if user_signed_in? %>
    	<% if current_user == @creator %>
    		<h5>You added this ticket </h5>
    		<br>
    	

            <h5>you have <%= pluralize(@hunters.size, 'person') %> hunting this ticket</h5>
    		<ul class="collection">
                <% @hunters.each do |user| %>
    		      <li class="collection-item"><%=link_to User.find(user.user_id).email, show_profile_path(id: user.user_id) %></li>
                <% end %>
		    </ul>
    	<% elsif current_user.hunts.exists?(ticket_id: @ticket.id)%>
    		<h5> You have signed up for this </h5>
    	<% else %>

        <%= button_to "hunt", subscribe_to_hunt_path(ticket_id: @ticket.id), class: "waves-effect waves-light btn-large", style: "background-color: #FF9800" %>
        <% end %>
    <% else %>
        <h5>Sign in to view this ticket</h5>
    <%end%>
</div>

<<<<<<< HEAD
<script>
    $("#close").on("click", function(){
        Materialize.toast('Chill out! this button dosent work yet', 4000)
    })
=======

<script>
    $("#add_comment").click(function(){
        var comment = $("#comment").val();
        if(comment !== "") {
            $.ajax({
                type: 'POST',
                url: "api/comments/new?comment="+comment+"&user_id="+<%= current_user.id %>+"&ticket_id="+<%= @ticket.id %>,
                success(data){
                      Materialize.toast('comment added', 4000) // 4000 is the duration of the toast
                },
                error(data){
                      Materialize.toast('comment could not be created', 4000) // 4000 is the duration of the toast
                }
            })
        }else{
            Materialize.toast('comment cannot be empty', 4000)
        }
    });
>>>>>>> d7114287ad799fdaa0b450f09570e24b0052495e
</script>