<!DOCTYPE html>
<html>
<head>
  <title>BugTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="white" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="/tickets" class="brand-logo" style="color: #FF9800">BugHunter</a>
      <ul class="right hide-on-med-and-down">
        <% if !user_signed_in? %>
          <li><a href="/users/sign_in" style="color: blue">Sign In</a></li>
        <% else %>
          
          <li><%= link_to 'Profile', show_profile_path(id: current_user.id), style:"color: blue", style:"color: blue" %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, style:"color: blue", method: :delete %></li>
          <li><%= link_to 'create ticket', new_ticket_path, style:"color: blue" %></li>
        <% end %>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" style="color: blue">Sign In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<%= yield %>



<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
</body>
</html>
